{:builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn app.core/main}}
        :output-dir "public/js"
        :target :browser}
  :test {:ns-regexp "app.cards"
         :output-to "out/test.js"
         :target :node-test}}
 :dependencies [[reagent "0.8.1"]
                [cider/cider-nrepl "0.45.0"] 
                [refactor-nrepl/refactor-nrepl "3.10.0"]
                [cider/piggieback "0.5.3"]
                [nrepl "1.1.1"]]
 :dev-http {3000 "public"}
 :nrepl {:port 3333
         :middleware [cider.nrepl/cider-middleware
                       refactor-nrepl.middleware/wrap-refactor
                       shadow.cljs.devtools.server.nrepl/middleware]}
 :source-paths ["src"]}



